$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-6: 600;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;
// color
$color_blue_e5f2fb: #e5f2fb;
$color_main: #ffd596;
$color_primary: #212529;
$btn_color_hover: #eeeeee;
$shop_color_hover: #970013;
$background_color: #f5f6f6;
$color_red: #ff0000;
$color_white: #fff;
$color_gray: #878c8f;
$color_gray_50: #e6e6e6;
$color_blue: #1887db;
$color_overlay: #00000033;
$color_overlay1: #00000085;
// font-size
$fs-large: 32px;
$fs-section-title: 24px;
$fs-title: 18px;
$fs-primary: 14px;
$fs-min: 12px;
// size
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.25rem;
$size-5: 1.5rem;